
<div class="d-flex justify-content-between ">
    <h4>Clientes</h4>
    <button type="button" class="btn btn-warning " id="clientes-botao">CADASTRAR CLIENTE</button>
</div>
<ul>
<div class="border-top w-80 p-3 my-3"></div>
</ul>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>CPF</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>João</td>
        <td>(123) 456-7890</td>
        <td>123.456.789-00</td>
        <td>Ativo</td>
      </tr>
      <!-- Outras linhas de dados -->
    </tbody>
  </table>
