@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
hr{
    color: #bda8a8;
}
thead tr th{
    color: #ACACAC;
}

tr{
    border-style: hidden;
    border-width: 0;
}

tbody tr {
    align-items: center;
    background-color: #f8f8f8b7;
    height: 4rem;
    border-radius: .5rem;
    margin-block: .5rem
}
.acoes{
    height: 1.5rem;
    width: 1.5rem;
    color: rgb(255, 224, 46)
}
.status-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.row{
    background-color: #fff;
}