<div class="w-100 h-100 d-flex flex-column pt-5 align-items-center">
    <div class="w-90">
        <div class="d-flex justify-content-between header">
            <h5 class="m-0 fw-bold" *ngIf="!isFuncionario">Clientes</h5>
            <h5 class="m-0 fw-bold" *ngIf="isFuncionario">Funcionários</h5>

            <button type="button" *ngIf="!isFuncionario" [routerLink]="['/web/cliente/novo']"
                class="fw-bold btn btn-warning color-white" id="novo-produto">Novo Cliente</button>
            <button type="button" *ngIf="isFuncionario" [routerLink]="['/web/funcionario/novo']"
                class="fw-bold btn btn-warning color-white" id="novo-produto">Novo Funcionário</button>

        </div>
        <hr>
        <form>
            <div class="mb-3 row d-flex flex-row justify-content-between">
                <div class="w-50 d-flex flex-row gap-3">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Procure por qualquer
                        campo:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
                    </div>
                </div>
                <mat-slide-toggle class="w-25 pt-2" name="estadoAtivo" [formControl]="switchEstado" #estadoAtivo
                    (change)="filtrarEstado()" color="primary">Mostrar apenas ativos</mat-slide-toggle>
            </div>
        </form>
        <div class="mb-3 resultados">Resultados: {{pessoas$.length}}</div>
        <table class="d-grid">
            <thead class="d-grid container">
                <tr class="row">
                    <th scope="col" class="col-md-1 text-center">Código</th>
                    <th scope="col" class="col-md-3 text-center">Nome</th>
                    <th scope="col" class="col-md-2 text-center">Telefone</th>
                    <th scope="col" class="col-md-2 text-center">CPF</th>
                    <th scope="col" class=" col-md-4 text-center">Status</th>
                </tr>
            </thead>
            <tbody #tabela class="d-grid container">
                <tr [routerLink]="['/web/pessoa/', pessoa.id]" class="row"
                    *ngFor="let pessoa of pessoas$ ; index as i">
                    <th class="align-middle text-center col-md-1" scope="row">{{pessoa.id}}</th>
                    <td class="align-middle text-center col-md-3">{{ pessoa.nome }}</td>
                    <td class="align-middle text-center col-md-2">{{ pessoa.telefone }}</td>
                    <td class="align-middle text-center col-md-2">{{ pessoa.cpf | cpf}}</td>
                    <td class="status-cell align-middle text-center col-md-4">
                        <div *ngIf="pessoa.delecao" class="estado desativado"></div>
                        <div *ngIf="!pessoa.delecao" class="estado ativado"></div>
                        <div (click)="editar(pessoa.id)">
                            <bi class="acoes" name="pen"></bi>
                        </div>
                        <div *ngIf="pessoa.delecao === null" (click)="toggle(pessoa.id)">
                            <bi class="acoes" name="trash"></bi>
                        </div>
                        <div *ngIf="pessoa.delecao != null" (click)="toggle(pessoa.id)">
                            <bi class="acoes" name="arrow-counterclockwise"></bi>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="pessoas.length == 0 || pessoas$.length == 0" class="mt-5 text-align-center alert alert-secondary" role="alert">
            Nenhuma pessoa encontrada
        </div>
    </div>
</div>