<div class="w-100 h-100 d-flex flex-column pt-5 align-items-center">
    <div class="w-90">
        <div class="d-flex justify-content-between header">
            <h5 class="m-0 fw-bold">Novo Cliente</h5>
        </div>
        <hr>
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0"><span style="color:red">*</span>Nome:</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <td class="align-middle text-center">
                                        <mat-form-field hintLabel="No máx 40 digitos.">
                                          <mat-label><span style="color:red">*</span>Diga o nome</mat-label>
                                          <input matInput #input maxlength="40" name="inputNome" [ngModel]="pessoa.nome" placeholder="Ex: Vinícius" class="w-100">
                                          <mat-hint align="end">{{input.value.length}}/40</mat-hint>
                                        </mat-form-field>
                                      </td>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0"><span style="color:red">*</span>Tipo Cliente:</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <td class="align-middle text-center"> <!-- FORMULÁRIO DE TIPO AQUI -->
                                        <mat-form-field>
                                          <mat-label><span style="color:red">*</span>Selecione o tipo.</mat-label>
                                          <mat-select>
                                            <mat-option value="option">Cliente</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </td>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0 text-center"><span style="color:red">*</span>Telefone:</h6>
                                </div>
                                <div class="col-md-3 pe-5">
                                    <td class="align-middle text-center">
                                        <mat-form-field hintLabel="Com DDD. Ex: (45)">
                                          <mat-label><span style="color:red">*</span>Digite o telefone</mat-label>
                                          <input matInput #inputTelefone maxlength="20" placeholder="Com DDD. Ex: (45)" class="w-100">
                                          <mat-hint align="end">{{inputTelefone.value.length}}/20</mat-hint>
                                        </mat-form-field>
                                      </td>
                                </div>
                            </div>

                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0"><span style="color:red">*</span>CPF:</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <td class="align-middle text-center">
                                        <mat-form-field hintLabel="Não vamos divulgar para ninguém.">
                                          <mat-label><span style="color:red">*</span>Digite o CPF</mat-label>
                                          <input matInput #inputCpf maxlength="14" placeholder="000.000.000-00" class="w-100">
                                          <mat-hint align="end">{{inputCpf.value.length}}/14</mat-hint>
                                        </mat-form-field>
                                      </td>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0"><span style="color:red">*</span>CEP:</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <td class="align-middle text-center">
                                        <mat-form-field hintLabel="O CEP da rua da pessoa.">
                                          <mat-label><span style="color:red">*</span>Digite o CEP</mat-label>
                                          <input matInput #inputCep maxlength="09" placeholder="CEP" class="w-100">
                                          <mat-hint align="end">{{inputCep.value.length}}/9</mat-hint>
                                        </mat-form-field>
                                      </td>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Logradouro:</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <td class="align-middle text-center">
                                        <mat-form-field hintLabel="Nome da Rua, Avenida ou Travessa.">
                                          <mat-label>Digite o logradouro</mat-label>
                                          <input matInput #inputLogradouro maxlength="40" placeholder="Logradouro" class="w-100">
                                          <mat-hint align="end">{{inputLogradouro.value.length}}/40</mat-hint>
                                        </mat-form-field>
                                      </td>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Número:</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <td class="align-middle text-center">
                                        <mat-form-field>
                                          <mat-label>Digite o número</mat-label>
                                          <input matInput #inputNumero placeholder="O número de residência, se possuir." class="w-100">
                                        </mat-form-field>
                                      </td>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0"><span style="color:red">*</span>Bairro:</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <td class="align-middle text-center">
                                        <mat-form-field hintLabel="O bairro do logradouro">
                                          <mat-label><span style="color:red">*</span>Digite o bairro</mat-label>
                                          <input matInput #inputBairro maxlength="40" placeholder="O bairro do logradouro" class="w-100">
                                          <mat-hint align="end">{{inputBairro.value.length}}/40</mat-hint>
                                        </mat-form-field>
                                      </td>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Complemento:</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <td class="align-middle text-center">
                                        <mat-form-field hintLabel="Um complemento do endereço">
                                          <mat-label>Digite um complemento:</mat-label>
                                          <input matInput #inputComplemento maxlength="40" placeholder="Digite um complemento" class="w-100">
                                          <mat-hint align="end">{{inputComplemento.value.length}}/40</mat-hint>
                                        </mat-form-field>
                                      </td>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Status:</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <td class="align-start text-center">
                                        <mat-form-field>
                                          <mat-label>Selecione o status.</mat-label>
                                          <mat-select>
                                            <mat-option value="option">Ativo</mat-option>
                                            <mat-option value="option">Inativo</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </td>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="px-5 gap-4 d-flex flex-row justify-content-center py-4">
                                <button type="submit" class="btn btn-warning">Cadastrar</button>
                                <button type="submit" class="btn btn-secondary">Cancelar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>