.menu{
    background-color: #fada9f;
    height: 150;
}
.btn:hover{
    background-color: #FEAF00;
}

#trequinho{
    color:#FEAF00;
}
#botao-home{
    margin-bottom: 5px;
}
.card {
    background-color: #f7d28e;
    border: none;
}

.borda-top{
    border-top: 1px solid #ffc10715
}
.borda-bottom{
    border-bottom: 2px solid #FEAF00
}
