<div class="w-100 h-100 d-flex flex-column pt-5 align-items-center">
    <div class="w-90">
        <div class="d-flex justify-content-between header">
            <h5 class="m-0 fw-bold">Pedidos</h5>
            <button type="button" class="fw-bold btn btn-warning color-white" id="novo-produto"
                [routerLink]="['/web/pedido/novo']">Novo Pedido</button>
        </div>
        <hr class="w-90">
        <form>
            <div class="mb-3 row d-flex flex-row justify-content-between">
                <div class="w-50 d-flex flex-row gap-3">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Procure por qualquer
                        campo:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
                    </div>
                </div>
                <mat-slide-toggle class="w-25 pt-2" name="estadoAtivo" [formControl]="switchEstado" #estadoAtivo
                    (change)="filtrarEstado()" color="primary">Mostrar apenas abertos</mat-slide-toggle>
            </div>
        </form>
        <div [ngClass]="
        {
            'alert alert-success': !isErro && mensagem,
            'alert alert-danger': isErro && mensagem
        }
        " role="alert">
            {{mensagem}}
        </div>
        <div class="mb-3 resultados">Resultados: {{pedidos$.length}}</div>
        <table class="tabela-principal d-grid">
            <thead class="tabela-principal d-grid container">
                <tr class="row">
                    <th scope="col" class="col-md-1 text-center">Código</th>
                    <th scope="col" class="col-md-1 text-center">Cliente</th>
                    <th scope="col" class="col-md-2 text-center">Funcionário</th>
                    <th scope="col" class="col-md-2 text-center">Data Abertura</th>
                    <th scope="col" class="col-md-2 text-center">Data Conclusão</th>
                    <th scope="col" class="col-md-2 text-center">Valor</th>
                    <th scope="col" class=" col-md-2 text-center">Status</th>
                </tr>
            </thead>
            <tbody #tabela class="d-grid container">
                <tr [routerLink]="['/web/pedido/', pedido.id]" class="row"
                    *ngFor="let pedido of pedidos$">
                    <th class="align-middle text-center col-md-1" scope="row">{{pedido.id}}</th>
                    <td class="align-middle text-center col-md-1" scope="row">{{pedido.cliente.nome}}</td>
                    <td class="align-middle text-center col-md-2" scope="row">{{pedido.funcionario.nome}}</td>
                    <td class="align-middle text-center col-md-2" scope="row">{{pedido.dataAbertura | date : 'dd/MM/yyyy - HH:mm'}}</td>
                    <td class="align-middle text-center col-md-2" scope="row">{{pedido.dataConclusao | date : 'dd/MM/yyyy - HH:mm'}}</td>
                    <td class="align-middle text-center col-md-2" scope="row">{{ pedido.valorTotal | currency: 'R$ ' }}</td>
                    <td class="status-cell align-middle text-center col-md-2">
                        <div *ngIf="pedido.delecao" class="estado desativado"></div>
                        <div *ngIf="!pedido.delecao && pedido.dataConclusao " class="estado ativado"></div>
                        <div *ngIf="!pedido.dataConclusao" class="estado andamento"></div>
                        <div (click)="editar(pedido.id)">
                            <bi class="acoes" name="pen"></bi>
                        </div>
                        <div *ngIf="pedido.delecao === null" (click)="toggle(pedido.id)">
                            <bi class="acoes" name="trash"></bi>
                        </div>
                        <div *ngIf="pedido.delecao != null" (click)="toggle(pedido.id)">
                            <bi class="acoes" name="arrow-counterclockwise"></bi>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="pedidos.length == 0 || pedidos$.length == 0" class="mt-5 text-align-center alert alert-secondary" role="alert">
            Nenhum pedido encontrado
        </div>
    </div>
</div>