/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

body,html{
    height: 100%;
    width: 100%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}

app-pessoas-list, app-produto-list, app-produto-details, app-pessoas-details{ 
    width: 100%; 
}

app-sidebar{
    height: 200vh;
    background-color: #fada9f
}

body {
    background-color: #F8F8F8;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }